* {
    box-sizing: border-box;
    word-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0px;
}

h1{
    font-size: 300%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.title {
    width: 30%;
    padding:10px;
    position: relative;
    background-color: rgb(218, 216, 216);
    float:right;
    text-align: center;
    font-size: 120%;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    
}


.p {
   
    width: 100%;
    margin:auto;
    padding:0px 10px 10px 10px;
    overflow: hidden;
    
}

.container {
    width:100%;
}

.container > div{
    padding:2%;
    padding-bottom: 5%;
    float:left;
    
}

@media (min-width:922px){
    .container > div{
        width: 33%;
    }
}

@media (max-width:921px) and (min-width:768px){
    .d1{
        width: 50%;
    }
    .d2{
        width: 50%;
    }
    .d3{
        width: 100%;
    }
}

@media (max-width:767px){
    .container > div{
        width: 100%;
    }
}

.pd1 {
    background-color: lightblue;
    border: 1px solid black;
}
.pd2 {
    background-color: lightpink;
    border: 1px solid black;
}
.pd3 {
    background-color: rgb(255, 255, 166);
    border: 1px solid black;
}

